@model MVC_forum.Models.SearchViewModel

@if (Model.Results.Any())
{
    <h1 class="m-3" style="font-variant-caps: small-caps;">Rezultati iskanja za @Model.Query</h1>
    @await Html.PartialAsync("_ArticleList", Model.Results)
}

else
{
    <h1 class="m-3" style="font-variant-caps: small-caps;">Za @Model.Query ni rezultatov</h1>
}
