@model List<MVC_forum.Models.Entities.Article>

<div class="text-center">
    <h1 class="display-4">Dobrodošli na forumu</h1>
    <p>Preberite članke ali pa se registrirajte in objavite svojega.</p>
</div>

<h1 class="m-3" style="font-variant-caps: small-caps;">Najnovejše objave</h1>

<div class="row">
    @await Html.PartialAsync("_ArticleList", Model)
</div>
